*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  border-bottom: 1px solid black;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding-top: 10px;
}

nav ul li a.current {
  background-color: rgb(197, 183, 183);
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 25px 5px 0 5px;
  height: 100%;
}

p {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  visibility: hidden;
}

p.show {
  visibility: visible;
}
